-if admin_signed_in?
  %h1 Listing services

  %table
    %thead
      %tr
        %th Request
        %th Email
        %th
        %th
        %th

    %tbody
      - @services.each do |service|
        %tr
          %td= service.request
          %td= service.email
          %td= link_to 'Show', service
          %td= link_to 'Edit', edit_service_path(service)
          %td= link_to 'Destroy', service, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
-else
  = link_to 'New Service', new_service_path
