-if admin_signed_in?
  %h1 Listing services

  %table
    %thead
      %tr
        %th Request
        %th Email
        %th
        %th
        %th

    %tbody
      - @services.each do |service|
        %tr
          %td= service.request
          %td= service.email
          %td= link_to 'Show', service
          %td= link_to 'Edit', edit_service_path(service)
          %td= link_to 'Destroy', service, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
-else
  .services
    %h2 Services
    %ul
      %br
      %li
        //hammerhead shark
        King Fish Package
        %img{:alt => "Kingfish", :height => "30", :src => "/assets/kingfish.jpg", :width => "30"}
      %ul
        %br
        %li House Wash
        %br
        %li Carpet Cleaning
        %br
        %li Window Cleaning(interior/exterior)
        %br
      %li 
        Shiny Tarpon
        %img{:alt => "Tarpon", :height => "30", :src => "/assets/Tarpon.jpg", :width => "30"}
      %ul
        %br
        %li House Wash
        %br
        %li Exterior Window
        %br
      %li Quick Joe
      %ul
        %br
        %li Exterior Windows
  = link_to 'Schedule an appointment', new_meeting_path
