%p#notice= notice

%p
  %b Name:
  = @meeting.name
%p
  %b Starts at:
  = @meeting.starts_at
%p Please Expect a phone call around this time of day in order to plan a powerwash date.
= link_to 'Edit', edit_meeting_path(@meeting)
\|
= link_to 'Back', meetings_path
