!!!
%html
  %head
    %title Prestige
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .cover
      #slideshow
        %span
          %img{:alt => "Prestige-Boca", :height => "250", :src => "/assets/Prestige-Boca.jpg", :width => "100%"}
        %span
          %img{:alt => "boca2", :height => "250", :src => "/assets/Boca2.jpg", :width => "100%"}
    .ye
      %nav#fixedbar
        %ul#fixednav
          = render 'layouts/navbar'
      .y
        = yield